<!DOCTYPE html>
<html lang="en">
<%- include ('include/header', {title:title}) %>
<body>
    <h1> <% title %> </h1>

    <!-- <div class="container"id="allItemsConteiner" >

        
      
    </div> container -->
     
    <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>
   


<script defer src="/js/publicArticle.js"></script>  
</body>
</html>