<!DOCTYPE html>
<html lang="en">
<%- include ('include/header', {title:title}) %>
<body>
    <h1> <% title %> </h1>

    <div class="container" id="allItemsConteiner">
        <div class="element">
            <label for="main-image"> Main Image: </label>
            <input name="main-image" type="file">
        </div> 
        <div class="element">
            <label for="title"> Title: </label>
            <input name="title" type="text">
        </div>
        <div class="element">
            <label for="2"> 2: </label>
            <input name="2" type="text">
        </div>
        <div class="element">
            <label for="3"> 3: </label>
            <input name="3" type="text">
        </div>
        <div class="element">
            <label for="3"> 3: </label>
            <input name="3" type="text">
        </div>

    </div> <!-- container -->
     
    <select name="add-item" id="add-item">
        <option value="paragraph"> Paragraph</option>
         <option value="youtube-video"> YouTube Video</option>
         <option value="subheading"> Subheading </option>
         <option value="image"> Image </option>
    </select>
        
    <button id="add-item-button">Add item</button>



<script defer src="/js/article.js"></script>  
</body>
</html>