<!DOCTYPE html>
<html lang="en">
    <%- include ('include/header', {title:title}) %>
<body>
  <div class="container">
      <%- include ('include/topNav') %>
      <h1>Portifolio Home</h1> 

      <div class="row profile-home">
        <img class="img-thumbnail profile  img-responsive float:left col-sm-3" src="/images/profile.jpg">
        <div class="container-fluid col-sm-9">
          <h2 class="col-sm-12">Thiago Alves</h2>
          <p class="col-sm-12"> Donec sed odio dui. 
            Etiam porta sem malesuada magna mollis euismod. 
            Nullam id dolor id nibh ultricies vehicula ut id elit. 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
            Praesent commodo cursus magna.</p>
        </div> <!-- container-fluid col-sm-9  -->       
      </div><!-- row  -->
     
   
  </div> <!--container -->
  <%- include ('include/contact-btn') %> 
  <%- include ('include/footer') %>  

  <!-- Not visible in the page at first - Modals -->
  <!-- Login Bootstrap modal -->
  <div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log In</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="loginpassword" placeholder="Password">
            <small id="pwrdReq" class="form-text text-muted">Password must contain at least 8 numeric characters</small>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sign UP Bootstrap modal -->
  <div class="modal" tabindex="-1" role="dialog" id="signupmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign Up</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">    
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Last Name">    
          </div>

          <div class="form-group">
            <label for="profileimage">Profile Image</label>
            <input type="file" class="form-control" id="pImage" aria-describedby="pImage" >    
          </div>

          <div class="form-group">
            <label for="field">Field</label>
            <input type="text" class="form-control" id="field" aria-describedby="field" placeholder="Filed"> 
            <small id="fieldHelp" class="form-text text-muted">Type your portifolio's field, like Programming, Arts, Civil Engineering, etc</small>   
          </div>

          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea  class="form-control" id="bio" aria-describedby="bio" placeholder="Bio"> </textarea>
            <small id="fieldHelp" class="form-text text-muted">Type your portifolio's field, like Programming, Arts, Civil Engineering, etc</small>   
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="loginpassword" placeholder="Password">
            <small id="pwrdReq" class="form-text text-muted">Password must contain at least 8 numeric characters</small>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<br>




       
</body>
</html>


