<!DOCTYPE html>
<html lang="en">
    <%- include ('include/header', {title:title}) %>
<body>
  <div class="container" id="home">
      <%- include ('include/topNav') %>
      <h1>Portifolio Home</h1> 

      <div class="row profile-home">
        <img class="img-thumbnail profile  img-responsive float:left col-sm-3" src="/images/profile.jpg">
        <div class="container-fluid col-sm-9">
          <h2 class="col-sm-12">Thiago Alves</h2>
          <p class="col-sm-12"> Donec sed odio dui. 
            Etiam porta sem malesuada magna mollis euismod. 
            Nullam id dolor id nibh ultricies vehicula ut id elit. 
            Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
            Praesent commodo cursus magna.</p>
        </div> <!-- container-fluid col-sm-9  -->       
      </div><!-- row  -->
     
     <div class="home row" id="homerow">
      <a class="text-center rounded float-left col-sm-6 btn btn-outline-light" style="background-image: url('images\\mainimage-25594205_10210510474458478_918573238725787030_n.jpg');" href=""> Click here </a>      
    </div>
   
  </div> <!--container -->

  <%- include ('include/contact-btn') %> 
  <%- include ('include/footer') %>  
  <script defer src="/js/publicArticle.js"></script>  
</body>
</html>


