<footer>
    <ul>
        <li><a href="/admin/article"> Add Article </a></li>
        <li><a href="/admin/contact"> Contact </a></li>

        <li><a href="#"> Admin Login </a></li>

    </ul>
</footer>