
  <!-- Not visible in the page at first - Modals -->
  <!-- Login Bootstrap modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Log In</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
            
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="loginpassword" placeholder="Password">
            <small id="pwrdReq" class="form-text text-muted">Password must contain at least 8 numeric characters</small>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Sign UP Bootstrap modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="signupmodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Sign Up</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">

          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="name" placeholder="Name">    
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" class="form-control" id="lastname" aria-describedby="lastname" placeholder="Last Name">    
          </div>

          <div class="form-group">
            <label for="profileimage">Profile Image</label>
            <input type="file" class="form-control" id="pImage" aria-describedby="pImage" >    
          </div>

          <div class="form-group">
            <label for="field">Field</label>
            <input type="text" class="form-control" id="field" aria-describedby="field" placeholder="Filed"> 
            <small id="fieldHelp" class="form-text text-muted">Type your portifolio's field, like Programming, Arts, Civil Engineering, etc</small>   
          </div>

          <div class="form-group">
            <label for="bio">Bio</label>
            <textarea  class="form-control" id="bio" aria-describedby="bio" placeholder="Bio"> </textarea>
            <small id="fieldHelp" class="form-text text-muted">Type your portifolio's field, like Programming, Arts, Civil Engineering, etc</small>   
          </div>

       
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Login</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Article Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="editArticlemodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Todo Edit/Create</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" >

            
              <div class="elements" id="allItemsConteinerEdit">
                
            </div>
            <!-- form controls -->
            <select class="form-control" name="add-item" id="add-item">
                <option value="paragraph"> Paragraph</option>
                 <option value="youtube-video"> YouTube Video</option>
                 <option value="subheading"> Subheading </option>
                 <option value="image"> Image </option>
            </select>
            <button id="add-item-button">Add item</button>
        </div>

        <div class="modal-footer">
          <button id="save" type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>



<!-- End of the article modal -->  


  <!-- Create Article Modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="crudarticlemodal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Todo Edit/Create</h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body" >
              <div class="elements" id="allItemsConteiner">
                <div class="element form-group">
                    <label for="main-image"> Main Image: </label>
                    <input name="main-image" type="file" class="form-control" >
                </div> 
                <div class="element form-group">
                    <label for="title"> Title: </label>
                    <input name="title" type="text" class="form-control" >
                </div> 
            </div>
            <!-- form controls -->
            <select class="form-control" name="add-item-c" id="add-item-c">
                <option value="paragraph"> Paragraph</option>
                 <option value="youtube-video"> YouTube Video</option>
                 <option value="subheading"> Subheading </option>
                 <option value="image"> Image </option>
            </select>
            <button id="add-item-button-c">Add item</button>
        </div>

        <div class="modal-footer">
          <button id="save-c" type="button" class="btn btn-primary">Save</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>

  </div>


  <button class="btn" type="button" data-toggle="modal" data-target="#crudarticlemodal">
    Add Article
  </button>

<!-- End of the article modal -->  




<footer class="footer page-footer ">
    <div class="container">
        <ul class="row">
            <!-- <li class="col-sm-3  "><a class="btn btn-link text-dark" href="/admin/article"> Add Article </a></li> -->
            <li class="col-sm-3  "><a class="btn btn-link text-dark" href="/admin/contact">Contact</a></li> 
            <li class="col-sm-3  "><button class="btn btn-link text-dark" type="button" class="link" data-toggle="modal" data-target="#exampleModal">
                Admin LogIn
              </button></li>
            <li class="col-sm-3 "><button class="btn btn-link text-dark" type="button" class="link" data-toggle="modal" data-target="#signupmodal">
                Sign Up
              </button></li>
        </ul>
    </div>

    
    <div class="row">
        <small class="footer-copyright text-center py-3 col-sm-12 font-weight-bold"> Portifolio Site &copy; 2020 - Thiago Alves</small>
    </div>
</footer>

